.dropDown{
  margin: 40px auto;
  color: white;
  width: 65%;
  transition-duration: 400ms;
  font-size: 24px;
  

}



.dropDown__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      height: 52px;
      
      user-select: none;   
      background-color:#FF6060;  
      border-radius: 5px;  
      
      
}

.dropDown__content{
      color:#FF6060;
      padding: 20px;
      font-weight: bold;
      background-color: white;
     
      
      
      
}



.dropDownAccommodation{
      display:flex;
      gap:30px;
      width:80%;
      margin:auto;
      border-radius: 10px;
      .dropDown__header{
        border-radius: 5px;
      }
    }

    li{
      list-style-type: none;
    }

    .dropDown__header img {
      transition: transform 0.4s ease-in-out;
      cursor: pointer;
    }
    
    .dropDown__header img.rotated {
      transform: rotate(-180deg);
    }

    
