body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Questrial', sans-serif;
font-family: 'Syne', sans-serif;
font-family: 'Work Sans', sans-serif;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }